/*Variables*/
:root {
    --fuentePrincipal: "Montserrat", sans-serif;
    --verde: #4cb8b3;
    --verdeClaro: #4bbfb9;
    --rosa: #b53756;
    --amarillo: #fdda00;
    --amarilloClaro: #fde026;
    --morado: #752f97;
    --blanco: #ffffff;
    --negro: #000000;
}


/*Globales*/

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-padding-top: 0rem;
}
*, 
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: var(--fuentePrincipal);
    font-optical-sizing: auto;
    font-style: normal;
    color: var(--negro);
    font-size: 2rem;
}

p {
    color: var(--negro);
    line-height: 1.5;
}
.contenedor {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: var(--blanco);
}
h1, h2, h3 {
    margin: 0 0 5rem 0;
    font-weight: 900;
}
h1 {
    font-size: 4rem;
}
h2 {
    font-size: 4.6rem;
}
h3 {
    font-size: 6rem;
    text-align: center;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
body > section {
    padding: 10rem 0
}


/*Header*/
header{
    width: 100%;
    background-color: var(--verde);
    color: var(--blanco);
}
.navegacion-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

}
@media (min-width: 768px) {
    .contenido-header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion-principal{
        flex-direction: row;

    }
}
.navegacion-principal a{
    font-size: 2.4rem;
    a:hover, a.active{
        color: var(--amarillo);
    }
}


/*Video*/
.video {
    position: relative;
    min-height: 50rem;
    max-height: 70rem;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        270deg,
        rgba(128, 0, 128, 0.6),
        rgba(102, 0, 102, 0.9)
    );
    clip-path: inset(0);
    display: flex;
    align-items: center;
    
}

.video video {
    display: block;
    width: auto;
}

@media (min-width: 768px) {
    .video video {
        width: 100%;
    }
}

.contenido-video {
    z-index: 10;
    
}

.contenido-video h2{
    color: var(--blanco);
    font-size: 7rem;
    margin: 0;
    white-space: nowrap; /* Evita que el texto se divida */
}

.contenido-video p{
    background-color: var(--rosa);
    display: inline-block;
    padding: 1rem 2rem;
    color: var(--blanco);
    font-size: 2.4rem;
    font-weight: 700;
    margin: 0;
}


/*Informacion sobre festival*/
@media (min-width: 768px) {
    .sobre-festival{
        display: flex;
        flex-direction: row;
        gap: 6rem
        
    }    
}

.imagen{
    min-width: 50%;
}
.contenido-festival{
    margin-top: 5rem;
}
.contenido-festival h2{
    margin-bottom: 2rem;
}
.fecha{
    color: var(--verde);
    font-weight: bold;
}

/*Line Up*/
.lineup{
    background-color: var(--rosa);
}
.lineup h3, .dia{
    text-align: center;
    color: var(--blanco);
}
.dia{
    font-size: 3rem;
    text-transform: uppercase;
    
}
@media (min-width: 768px) {
    .escenarios-contenedor{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5rem;
    }
}

.escenario {
    padding-top:2rem;
}
.nombre-escenario {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}
.bg-amarillo {
    background-color: var(--amarillo); /* Reemplaza #color-amarillo con el valor real */
}

.bg-amarillo li:nth-child(odd) {
    background-color: var(--amarilloClaro); /* Reemplaza #color-amarillo-claro con el valor real */
}

.bg-verde {
    background-color: var(--verde); /* Reemplaza #color-verde con el valor real */
}

.bg-verde li:nth-child(odd) {
    background-color: var(--verdeClaro); /* Reemplaza #color-verde-claro con el valor real */
}
.calendario, .boleto{
    margin:0;
    padding: 0;
    list-style: none;
    
}
.calendario li{
    padding: 2.5rem;
    font-weight: 700;
}
.calendario span{
    font-weight: normal;
}

/*Galeria*/
.galeria-imagenes {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
}


@media (min-width: 480px) {
    .galeria-imagenes {
        grid-template-columns: repeat(2, 1fr); 
    }
}


@media (min-width: 768px) {
    .galeria-imagenes {
        grid-template-columns: repeat(3, 1fr); 
    }
}


@media (min-width: 1080px) {
    .galeria-imagenes {
        grid-template-columns: repeat(4, 1fr); 
    }
}
.galeria-imagenes img {
    height: 100%;
}

/*Modal para Galeria*/
.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Negro con 50% de opacidad */
    display: grid;
    place-items: center;
    animation: fadeIn 0.5s ease-in;
    opacity: 1;
    transition: opacity 0.5s ease-in; /* Para animar el cambio de opacidad */
}

.modal.fade-out {
    opacity: 0;
}

.modal img {
    max-width: 100rem;
}

.btn-cerrar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: white; /* Blanco */
    border: none;
    color: black; /* Negro */
    display: grid;
    place-items: center;
    font-weight: 700;
    cursor: pointer;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100%  {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100%  {
        opacity: 0;
    }
}
.modal.overflow-hidden {
    overflow: hidden;
}
/*Boleteria*/
.boleteria{
    background-color: var(--verde);
    width: 100%;
    height: 100%;
}
.boleteria h2{
    text-align: center;
    color: var(--blanco);
    font-weight: 900;
    font-size: 7rem;
}
.boletos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
.contenido-boleto h3{
    font-weight: 900;
    color: var(--blanco);
    font-size: 4rem;
}
.boleto{
    background-color: var(--blanco);
}
.boleto p{
    background-color: var(--rosa);
    text-align: center;
    margin-top: 0;
    padding: 2rem;
    color: var(--blanco);
    text-transform: uppercase;
}
.boleto li{
    padding: 2rem;
}


/*Footer*/
footer p{
    background-color: var(--rosa);
    padding: 2rem;
    color: var(--blanco);
    text-align: center;
    margin: 0;
}
